$color-white: #fff;
$color-light: #f4f4f4;
$color-dark: #525252;
$color-black: #141415;
$color-primary: #f24e1e;
$color-primary-light: #f24e1c1f;
$color-success: #29f5a6;
$color-warning: #ffce31;
$transition: all 0.3s ease;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    text-decoration: none;
    list-style: none;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    background: $color-white;
    font-family: 'Montserrat', sans-serif;
    color: $color-dark;
    max-width: 100vw;
}

h1,h2,h3,h4 {
    color: $color-black;
    line-height: 1.2;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2rem;
}

h4 {
    font-size: 1.6rem;
}

p {
    font-size: 1.4rem;
    line-height: 1.8;
}

img {
    width: 100%;
}
