section {
    padding: 10rem 0;
    overflow: hidden;
    transition: transform 1s, opacity 1s;
}

.section--hidden {
    opacity: 0;
    transform: translateY(10rem);
}

.container {
    width: 80%;
    height: 100%;
    margin: 0 auto;
}